@keyframes slide {
    from{
        left: -100px;
        opacity:0 ; 
    }
    to{
        left: 400px;
        opacity: 1;
    }
}

@keyframes disappear {
    from{
        left:400px;
        opacity: 1;
    }
    to{
        left:-100px;
        opacity:0; 
    }
}